{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  -->
    {% include './includes/links.html' %}
    <!--  -->
    {% block styles %}{% endblock styles %}
  </head>

  <body>
    <!--  -->
    {% include './includes/header.html' %}

    <!-- Main -->
    <main
      data-bs-spy="scroll"
      data-bs-target="#navbar"
      data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true"
      tabindex="0"
    >
      {% block content %}{% endblock content %}
    </main>

    <!--  -->
    {% include './includes/footer.html' %}
    <!--  -->
    {% include './includes/scripts.html'%}
    <!--  -->
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
